/**
 * Styles for the animated image banner at the top of the page
 */

div.banner {
    position:relative;
    margin-top: 20px;
    height:230px;
}

div.banner img {
    position: absolute;
    opacity: 0;
}

div.banner img.logo { /* overlay logo on banner */
    opacity:1;
    bottom:25px;
    right:0;
}

div.banner div.hello {
position: absolute;
bottom: 0;
right:0;
font-size: 130%;
color: white;
padding: 5px 10px 5px 150px;
font-family: 'Scada', arial, Georgia, serif;
background-color: rgb(64, 124, 64); 
}


/* modernizr gradient feature detection */
.cssgradients div.banner div.hello {
    background-color: transparent;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(64, 124, 64,1) 25%);
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(64, 124, 64,1) 25%);
}

div.banner div.hello span.morehello {
    color: rgb(28, 207, 28);
    font-family: arial, Georgia, serif;
    font-size: 100%;   
}

div.banner > img:first-child {
    opacity:1;
}
